.fileselect {
  background: #001eee;
  outline: 0;
  padding: 2rem;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}

.fileselect h1 {
  font-size: 2rem;
  color: white;
  text-align: center;
}

.fileselect p {
  font-size: 1.2rem;
  color: white;
  text-align: center;
}

.smallerfont {
  font-size: 0.8rem !important;
}
